<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-7">Decision Maker was an application developed by Team Awesome.  Team Awesome consists of Joh Yoshida, Catherine Hrynuik, Nicholas Vergoes Houwens and Sebastian Bethell during Lighthouse Labs WebDev bootcamp.</div>
      <div class="col-sm-3 col-sm-offset-1 copyright">&copy Team Awesome 2017</div>
    </div>
  </div>
</footer>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>


