<nav class="navbar navbar-fixed-top navbar-default navbar-left">
  <div class="container-fluid">
    <div class="navbar-brand">
      <span class="glyphicon glyphicon-th-list"></span>
      <a href="#">Decision Maker</a>
    </div>
</div>
</nav>
