<nav class="navbar navbar-fixed-top navbar-default">
  <div class="navbar-brand">
    <a href="/">
      <span class="glyphicon glyphicon-th-list"></span>
      Decision Maker
    </a>
  </div>
</nav>
