<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Home Page</title>
    <% include ./partials/head.ejs %>
  </head>

  <body>
    <% include ./partials/header.ejs %>

    <div class="container main">
      <div class="jumbotron">
        <h1>Decision Maker</h1>
        <p>Decision making made easy</p>
      </div>

      <div class="panel panel-default">
        <div class="panel-body">
          <form class="form create-poll" action="/" method="post" id="new-poll">

            <div class="form-group">
              <label for="poll-title">Poll Title</label>
              <input id="poll-title" class="form-control" type="text" name="title" value="" placeholder="Title">
            </div>
            <div class="form-group">
              <label for="poll-email">Email</label>
              <input id="poll-email" class="form-control" type="email" name="email" value="" placeholder="Email">
            </div>
            <div class="form-group input-group">
              <label for="option-1">Option 1</label>
              <input id="option-1" class="form-control option" type="text" name="option" value="" placeholder="Enter poll option">
              <input class="form-control" type="text" name="description" value="" placeholder="description">
            </div>
            <div class="form-group input-group">
              <label for="option-2">Option 2</label>
              <input id="option-2" class="form-control option" type="text" name="option" value="" placeholder="Enter poll option">
              <input class="form-control" type="text" name="description" value="" placeholder="description">
            </div>
            <!-- more options appear here -->

            <div class="button">
              <input class="btn btn-primary" type="submit" name="submit" value="Submit" id="submit">
            </div>

          </form>

          <div class="alert alert-danger">
            <!-- alerts go here -->
          </div>
          <div class="buttons">
            <!-- these buttons appear on form submission -->
            <button class="btn btn-primary btn-poll" id="vote" type="button" name="button">Poll</button>
            <button class="btn btn-primary" id="results" type="button" name="button">Results</button>
            <p class="submission-message">Thank you for submitting your poll.  An email will be sent to you with links to the voting page and the results page.</p>
          </div>
        </div>
      </div>
    </div>

    <% include ./partials/footer.ejs %>
  </body>
</html>
