<!DOCTYPE html>
<html lang="en">
  <
  <head>
    <title>Home Page</title>
    <% include ./partials/head.ejs %>
  </head>

  <body>
    <% include ./partials/header.ejs %>
    <script type="text/javascript" src="/scripts/asyncButton.js"></script>

    <div class="container">
      <div class="jumbotron">
        <h1>Decision Maker</h1>
        <p>Decision making made easy</p>
      </div>

      <div class="panel panel-default">
        <div class="panel-body">
          <form class="form" action="/" method="post" id="new-poll">

            <div class="">
              <label for="poll-title">Poll Title</label>
              <input id="poll-title" class="form-control" type="text" name="title" value="" placeholder="title">
            </div>
            <div class="">
              <label for="poll-email">Email</label>
              <input id="poll-email" class="form-control" type="email" name="email" value="" placeholder="email">
            </div>
            <div class="input-group">
              <label for="">Option</label>
              <input class="form-control option" type="text" name="option" value="" placeholder="option">
              <input class="form-control" type="text" name="description" value="" placeholder="description">
            </div>
            <div class="input-group">
              <label for="">Option</label>
              <input class="form-control option" type="text" name="option" value="" placeholder="option">
              <input class="form-control" type="text" name="description" value="" placeholder="description">
            </div>
            <!-- more options appear here -->

            <div class="button">
              <input class="btn btn-primary" type="submit" name="submit" value="Submit">
            </div>

          </form>
        </div>
      </div>
    </div>

    <% include ./partials/footer.ejs %>
  </body>
</html>
