<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Poll</title>
    <% include ./partials/head.ejs %>
  </head>
  <body>
    <% include ./partials/header.ejs %>

    <form class="" action="poll.html" method="post">
      <h2>Title</h2>
      <!-- options -->
      <div class="">
        <h3>Option</h3>
        <p>Description</p>
      </div>
      <div class="">
        <h3>Option</h3>
        <p>Description</p>
      </div>
      <div class="">
        <h3>Option</h3>
        <p>Description</p>
      </div>
      <input type="submit" name="submit" value="Submit">
    </form>

    <% include ./partials/footer.ejs %>
  </body>
</html>
