<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Poll</title>
    <% include ./partials/head.ejs %>

  </head>
  <body>
    <% include ./partials/header.ejs %>

    <div class="container">
      <div class="jumbotron">
        <h1><%= pollTitle %></h1>
        <p>created by <%= pollEmail %></p>
        <h2>Drag and drop options to rank your choices</h2>
      </div>

      <div class="panel panel-default">
        <div class="panel-body form-cont">
          <form class="form results-form" action="poll.html" method="post">

            <div class="options">

              <% for (let option in optionsArr) { %>
              <div class="panel panel-default">
                <div class="panel-body">
                  <h3><%= optionsArr[option].title %></h3>
                  <p><%= optionsArr[option].description %></p>
                  <p>Rating</p>
                </div>
              </div>
              <% } %>
            </div>
            <input id ="options-submit" class="btn btn-primary" type="submit" name="submit" value="Submit">
          </form>
        </div>
      </div>
    </div>

    <% include ./partials/footer.ejs %>
    <script src="/scripts/ratings-button.js"></script>
    <!-- Dragula -->
    <script src='https://rawgit.com/bevacqua/dragula/master/dist/dragula.js'></script>
    <script type="text/javascript" src="/scripts/poll-dragula.js"></script>
  </body>
</html>
