<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Poll</title>
    <% include ./partials/head.ejs %>
  </head>
  <body>
    <% include ./partials/header.ejs %>

    <div class="container">
      <div class="jumbotron">
        <h2><%= pollTitle %></h2>
        <p>created by <%= pollEmail %></p>
      </div>

      <div class="panel panel-default">
        <div class="panel-body">
          <form class="form" action="poll.html" method="post">
            <!-- options -->
            <div class="panel panel-default">
              <div class="panel-body">
                <h3>Option 1</h3>
                <p>Description</p>
                <p>Rating</p>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-body">
                <h3>Option 2</h3>
                <p>Description</p>
                <p>Rating</p>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-body">
                <h3>Option 3</h3>
                <p>Description</p>
                <p>Rating</p>
              </div>
            </div>
            <input class="btn btn-primary" type="submit" name="submit" value="Submit">
          </form>
        </div>
      </div>
    </div>

    <% include ./partials/footer.ejs %>
  </body>
</html>
