<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Poll Results</title>
    <% include ./partials/head.ejs %>
  </head>

  <body>
    <% include ./partials/header.ejs %>

    <div class="container main">
      <div class="jumbotron">
        <h1>Title</h1>
        <p>created by email@email.com</p>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <form class="" action="poll.html" method="post">
            <!-- options -->
            <% templates.forEach(function(template) { %>
              <div class="panel panel-default">
                <div class="panel-body">
                  <h3>Title <%= template.title %></h3>
                  <p>Description <%= template.desc %></p>
                  <p>Option ID <%= template.optionId %></p>
                  <p>Rating <%= (template.rating.reduce(function(acc, val){return acc + val}) / template.rating.length).toFixed(2)  %></p>
                </div>
              </div>
            <% }); %>
          </form>
        </div>
      </div>
    </div>

    <% include ./partials/footer.ejs %>
  </body>
</html>
