.footer {
  background: #f8f8f8;
  border-top: 1px solid #e7e7e7;
  margin-top: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: $brand-primary;
  font-size: 12px;
}

/* Small devices (tablets, 768px and down) */
@media (max-width: $screen-xs-max) {
  .copyright {
    margin-top: 10px;
  }
}
